body {
  font-family: 'Source Sans Pro', sans-serif;
  max-width: 1920px;
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

footer {
  text-align: center;
  margin: 100px auto;
  font-size: 14px;
  letter-spacing: 1px;
}