.splash {
  background-image: url("../images/Images/background.avif"), url("../images/Images/background.webp"), url("../images/Images/background.jpg");
  height: 946px;
  background-position: center top;
  background-size: cover;
  text-transform: uppercase;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;

  &::after {
    content: "";
    background-color: $color-dark;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.69;
    z-index: 0;
  }
    
  .header {
    z-index: 1;
    width: 68%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-left: 70px;
    position: absolute;

    .header__logo{
      .header__logo__title {
        margin: 0;
        font-size: 34px;
        letter-spacing: 9px;
        color: $color-light;
        font-weight: $font-black;
      }

      .header__logo__subtitle {
        font-size: 16px;
        letter-spacing: 4px;
        color: $color-light;
        font-weight: $font-black;
        margin: 0;
        padding: 5px 0 0 3px;
      }
    }

    .header__nav a {
      opacity: 0.502;
      font-size: 18px;
      letter-spacing: 1px;
      color: $color-light;
      font-weight: $font-regular;
      text-decoration: none;
      padding-right: 22px;
    }
    
    .header__nav a.active {
      opacity: 1;
    }
  }

  .hero {
    z-index: 1;
    width: 65%;
    height: 169px;
    top: 25%;
    position: absolute;

    .hero__title {
      font-size: 92px;
      letter-spacing: 16px;
      line-height: 30px;
      color: $color-main;
      font-weight: 700;
    }

    #title1 {
      display: block;
      text-align: left;
      line-height: normal;
    }

    #title2 {
      display: block;
      text-align: right;
      line-height: normal;
    }

    .hero__line {
      content: "";
      width: 270px;
      height: 6px;
      background: $color-main;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 60px;
    }
  }

  .hero__discover {
    z-index: 1;
    top: 85%;
    position: absolute;
    margin-bottom: 42px;
    text-align: center;

    .hero__discover__txt {
      font-size: 34px;
      letter-spacing: 6px;
      color: $color-light;
      font-weight: $font-regular;
      margin: 0;
      padding-bottom: 32px;
    }

    .hero__discover__icon {
      font-size: 40px;
      letter-spacing: 8px;
      line-height: 40px;
      color: $color-light;
      margin: 0;
    }
  }
}


@media (min-width: 668px) and (max-width: 1024px) {
  .splash {
    height: 100vh;

    .header {
      width: 100%;

      .header__logo {
        .header__logo__title {
          font-size: 28px;
        }

        .header__logo__subtitle {
          font-size: 14px;
          letter-spacing: 3px;
        }
      }

      .header__nav {
        margin-right: 56px;

        a {
          font-size: 14px;
          padding-right: 16px;
        }
      }
    }

    .hero {
      top: 30%;

      .hero__title {
        font-size: 84px;
        letter-spacing: 8px;
      }

      #title1 {
        text-align: center;
      }

      #title2 {
        text-align: center;
      }
  
      .hero__line {
        margin-top: 44px;
      }
    }

    .hero__discover {
      top: 90%;
      position: sticky;
  
      .hero__discover__txt {
        font-size: 24px;
        padding-bottom: 16px;
      }
  
      .hero__discover__icon {
        font-size: 24px;
      }
    }  
  }
}

@media (min-width: 376px) and (max-width: 667px) {
  .splash {
    .header {
      width: 100%;
      padding-left: 40px;

      .header__logo {
        .header__logo__title {
          font-size: 24px;
          letter-spacing: 6px;
        }

        .header__logo__subtitle {
          font-size: 12px;
          letter-spacing: 3px;
          font-weight: 700;
        }
      }

      .header__nav a {
        font-size: 14px;
        padding-right: 40px;
        display: flex;
      }
    }

    .hero {
      width: 70%;

      .hero__title {
        font-size: 70px;
        letter-spacing: 7px;
        line-height: 35px;
      }

      #title1 {
        text-align: center;
      }

      #title2 {
        text-align: center;
      }

      .hero__line {
        margin-top: 40px;
      }
    }

    .hero__discover {
      .hero__discover__txt {
        font-size: 24px;
      }

      .hero__discover__icon {
        font-size: 30px;
      }
    }
  }
}

@media (max-width: 375px) {
  .splash {
    .header {
      padding-left: 30px;

      .header__logo {
        .header__logo__title {
          font-size: 22px;
          letter-spacing: 4px;
        }

        .header__logo__subtitle {
          font-size: 10px;
          letter-spacing: 2px;
          font-weight: 700;
        }
      }

      .header__nav a {
        padding-right: 20px;
        font-size: 12px;
      }
    }

    .hero {
      .hero__title {
        font-size: 60px;
        letter-spacing: 5px;
        line-height: 75px;
      }

      #title1 {
        text-align: center;
      }

      #title2 {
        text-align: center;
      }
    }
  }
}
