.about {
  background-image: url("../images/Images/about-us.avif"), url("../images/Images/about-us.webp"), url("../images/Images/about-us.jpg");
  background-position: center top;
  background-size: cover;
  position: relative;
  z-index: -1;
  height: 800px;
  padding-top: 30px;

  &::after {
    content: "";
    background-color: $color-dark;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.69;
    z-index: -1;
    top: 0;
  }

  .main-carousel {
    width: 40%;
    margin: 0 auto;

    .flickity-button {
      display: none;
    }

    .carousel-cell {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-light;
      width: 100%;
      counter-increment: gallery-cell;

      .carousel-image {
        flex: 0 0 50%;
      }
    }
  }

  .main-carousel .carousel-cell .carousel-description {
    flex: 0 0 50%;
    letter-spacing: 1px;

    p:first-of-type {
      font-size: 30px;

      span {
        font-weight: $font-semibold;
      }
    }

    p:last-of-type {
      font-size: 24px;
      font-style: italic;
    }
  }    
}

@media (max-width: 1440px) {
  .about .main-carousel {
    width: 50%;

    .carousel-description {
      padding-left: 30px;
    }
  }
}

@media (min-width: 668px) and (max-width: 1024px) {
  .about .main-carousel {
    width: 70%;

    .carousel-cell {
      .carousel-description {
        padding-left: 30px;
      }
    }
  }
}

@media (max-width: 667px) {
  .about {
    height: 80%;

    .main-carousel {
      width: 70%;

      .carousel-cell {
        display: flex;
        flex-direction: column;

        .carousel-description {
          margin: 0 auto;
        }
      }
    }
  }
}