.products__box {
  margin-bottom: 80px;

  .product__img {
    order: 2;
    width: 522px;
    height: 402px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: drop-shadow(0 0 24.5px rgba(0,0,0,0.38));
    }

    &::after {
      content: "";
      position: absolute;
      top: -40px;
      right: 40px;
      border-style: solid;
      border-width: 239px 159px 0 0;
      border-color: $color-main transparent transparent transparent;
      transform: rotate(90deg);
    }

    .product__price {
      position: absolute;
      top: 0;
      right: 0;
      color: $color-light;
      z-index: 1;
      line-height: 0;
      letter-spacing: 1px;

      p:first-of-type {
        font-size: 18px;
        text-decoration: line-through;
        margin-right: 56px;
        margin-top: 28px;
      }

      p:last-of-type {
        font-size: 37px;
        font-weight: $font-semibold;
        margin-top: 40px;
      }
    }
  }

  .product__info {
    order: 1;
    flex: 1;
    padding-top: 68px;
    padding-right: 102px;
    position: relative;

    .product__description {
      position: relative;
      padding-left: 128px;
      font-size: 15px;
      font-weight: $font-regular;
      line-height: 22px;

      &::before {
        content: "";
        position: absolute;
        left: 10px;
        top: 10%;
        transform: translateY(-10%);
        width: 100px;
        height: 5px;
        background-color: $color-main;
      }
    }

    .product__params {
      text-transform: uppercase;
      font-size: 18px;
      letter-spacing: 1px;
      font-weight: 700;
      line-height: 16px;
      padding-left: 12px;
      margin-top: 62px;

      span {
        color: $color-main;
        letter-spacing: 2px;
      }
    }
  }
}

.products:first-child .product__info { 
  &::after {
    content: "";
    position: absolute;
    bottom: 30px;
    right: 80px;
    width: 186px;
    height: 168px;
    background-image: url("../images/Images/badge.png");
  }
}  

.products:nth-child(even) .product__img {
  order: 1;
}

.products:nth-child(even) .product__info {
  order: 2;
  padding-left: 102px;
  padding-right: 0;
}

@media (min-width: 668px) and (max-width: 1024px) {
  .products__box {
    .product__info {
      display: flex;
      flex-direction: column;
      padding: 0 60px 40px 60px;

      .product__description {
        padding-top: 20px;
        padding-left: 0;
        font-size: 17px;

        &::before {
          left: 0;
        }
      }

      .product__params {
        padding-left: 30px;
        font-size: 16px;
      }
    }
  }

  .products:nth-child(even) .product__img {
    order: 2;
  }

  .products:nth-child(even) .product__info {
    padding: 0 60px 40px 60px;
    order: 1;
  }  
}

@media (min-width: 376px) and (max-width: 667px) {
  .products__box {
    .product__info {
      display: flex;
      flex-direction: column;
      padding: 0 30px 40px 30px;

      .product__description {
        &::before {
          top: 15%;
        }
      }
    }
  }

  .products:first-child .product__info { 
    &::after {
      right: 10px;
    }
  }  

  .products:nth-child(even) .product__img {
    order: 2;
  }

  .products:nth-child(even) .product__info {
    padding: 0 30px 40px 30px;
    order: 1;
  }
}

@media (max-width: 375px) {
  .products__box {
    .product__info {
      display: flex;
      flex-direction: column;
      padding: 0 30px 40px 30px;

      &::after {
        display: none;
      }

      .product__params {
        margin-top: 12px;
      }
    }
  }

  .products__box .product__info .product__params {
    font-size: 16px;
  }

  .products:nth-child(even) .product__img {
    order: 2;
  }

  .products:nth-child(even) .product__info {
    padding: 0 30px 40px 30px;
    order: 1;
  }

}